---
import { getImage } from 'astro:assets'
import SchemaOrg, { type Props as SchemaProps } from './SchemaOrg.astro'
import config from '@config/blog.config'
import faviconSrc from '@images/favicon.png'
import { type Props as IndexProps } from './index.astro'

type Props = IndexProps

const { title, description, style, image, date, updated } = Astro.props

const titleFinal =
  title && title !== ''
    ? `${title} ¦ ${config.siteTitle}`
    : `${config.siteTitle} ¦ ${config.siteDescription}`

const descriptionFinal = description
  ? description.slice(0, 160)
  : config.siteDescription

const canonicalURL =
  Astro.url.pathname === '/'
    ? Astro.site?.origin
    : `${Astro.site?.origin}${Astro.url.pathname}`

const imageFinal = `${Astro.site?.origin}${
  image
    ? (await getImage({ src: image, width: 800, format: 'jpg' })).src
    : faviconSrc.src
}`

const imageFinalAlt = image ? `Teaser image for ${title}` : `Logo`

const schema: SchemaProps = {
  title: titleFinal,
  url: canonicalURL as string,
  image: imageFinal,
  description: descriptionFinal,
  ...(date && { datePublished: date.toISOString().substring(0, 10) }),
  ...(updated && { dateModified: updated.toISOString().substring(0, 10) })
}

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})
// TODO: Create faviconSvgSrc.
---

<head>
  <script is:inline>
    const preferredTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    const theme = localStorage.getItem('@karamablog/theme') || preferredTheme
    document.documentElement.dataset.theme = theme
  </script>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="generator" content={Astro.generator} />

  <title>{titleFinal}</title>

  <link rel="stylesheet" href={style} />

  <link rel="canonical" href={canonicalURL} />
  <meta name="description" content={descriptionFinal} />
  <meta property="og:title" content={titleFinal} />
  <meta property="og:image" content={imageFinal} />
  <meta property="og:image:alt" content={imageFinalAlt} />
  <meta property="og:url" content={canonicalURL} />
  <meta name="twitter:card" content="summary_large_image" />

  <meta name="theme-color" content="" />
  <meta name="msapplication-TileColor" content="" />
  <meta name="robots" content="noai, noimageai" />

  <link rel="icon" href="/favicon.ico" sizes="32x32" />
  <link rel="apple-touch-icon" href={appleTouchIcon.src} />
  <link rel="manifest" href="/manifest.json" />

  <link
    rel="alternate"
    title="JuditKaramazov RSS Feed"
    type="application/rss+xml"
    href="/feed.xml"
  />

  <SchemaOrg {...schema} />

  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
